# Node
node_modules/
dist/
lib/
.env
.env.*

# pnpm
.pnpm-debug.log
pnpm-lock.yaml

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp

# Build
.next/
out/
coverage/

# Misc
*.tgz
*.tsbuildinfo

aii.md